In [1]:
import pandas as pd
import os
import glob
import json

# Review data
## Get file path

In [2]:
data_pth_lst = glob.glob(os.getcwd() + "/data/*")
csv_pth = [pth for pth in data_pth_lst if '.csv' in pth]
json_pth = [pth for pth in data_pth_lst if '.json' in pth]

## csv data

In [3]:
csv_df = pd.read_csv(csv_pth[0],low_memory=False)
csv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23967 entries, 0 to 23966
Data columns (total 75 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              23967 non-null  object
 1   spkid           23967 non-null  int64
 2   full_name       23967 non-null  object
 3   pdes            23967 non-null  object
 4   name            343 non-null    object
 5   prefix          184 non-null    object
 6   neo             23967 non-null  object
 7   pha             23779 non-null  object
 8   H               23774 non-null  float64
 9   G               13 non-null     float64
 10  M1              126 non-null    float64
 11  M2              54 non-null     float64
 12  K1              126 non-null    float64
 13  K2              54 non-null     float64
 14  PC              36 non-null     float64
 15  diameter        1268 non-null   float64
 16  extent          10 non-null     object
 17  albedo          1208 non-null   float64
 18  rot_per         1679 non-null   float64
 19  GM              4 non-null      float64
 20  BV              38 non-null     float64
 21  UB              38 non-null     float64
 22  IR              1 non-null      float64
 23  spec_B          313 non-null    object
 24  spec_T          36 non-null     object
 25  H_sigma         5682 non-null   float64
 26  diameter_sigma  1162 non-null   float64
 27  orbit_id        23967 non-null  object
 28  epoch           23967 non-null  float64
 29  epoch_mjd       23967 non-null  float64
 30  epoch_cal       23967 non-null  float64
 31  equinox         23967 non-null  object
 32  e               23967 non-null  float64
 33  a               23967 non-null  float64
 34  q               23967 non-null  float64
 35  i               23967 non-null  float64
 36  om              23967 non-null  float64
 37  w               23967 non-null  float64
 38  ma              23967 non-null  float64
 39  ad              23967 non-null  float64
 40  n               23967 non-null  float64
 41  tp              23967 non-null  float64
 42  tp_cal          23967 non-null  float64
 43  per             23967 non-null  float64
 44  per_y           23967 non-null  float64
 45  moid            23952 non-null  float64
 46  moid_ld         23952 non-null  float64
 47  moid_jup        23845 non-null  float64
 48  t_jup           23967 non-null  float64
 49  sigma_e         23950 non-null  float64
 50  sigma_a         23950 non-null  float64
 51  sigma_q         23950 non-null  float64
 52  sigma_i         23950 non-null  float64
 53  sigma_om        23950 non-null  float64
 54  sigma_w         23950 non-null  float64
 55  sigma_ma        23950 non-null  float64
 56  sigma_ad        23950 non-null  float64
 57  sigma_n         23950 non-null  float64
 58  sigma_tp        23950 non-null  float64
 59  sigma_per       23950 non-null  float64
 60  class           23967 non-null  object
 61  producer        23967 non-null  object
 62  data_arc        23746 non-null  float64
 63  first_obs       23965 non-null  object
 64  last_obs        23965 non-null  object
 65  n_obs_used      23967 non-null  int64
 66  n_del_obs_used  924 non-null    float64
 67  n_dop_obs_used  924 non-null    float64
 68  condition_code  23950 non-null  float64
 69  rms             23954 non-null  float64
 70  two_body        15 non-null     object
 71  A1              54 non-null     float64
 72  A2              177 non-null    float64
 73  A3              15 non-null     float64
 74  DT              6 non-null      float64
dtypes: float64(56), int64(2), object(17)
memory usage: 13.7+ MB

In [4]:
csv_df.shape

(23967, 75)

In [5]:
csv_df.head(1)

,id,spkid,full_name,pdes,name,prefix,neo,pha,H,G,...,n_obs_used,n_del_obs_used,n_dop_obs_used,condition_code,rms,two_body,A1,A2,A3,DT
0,a0000433,2000433,433 Eros (A898 PA),433,Eros,NaN,Y,N,10.4,0.46,...,8767,4.0,2.0,0.0,0.28397,NaN,NaN,NaN,NaN,NaN

In [6]:
csv_df["diameter"].head(1)

0    16.84
Name: diameter, dtype: float64

In [7]:
csv_df[csv_df["name"]=="Apollo"]["diameter"]

10    1.5
Name: diameter, dtype: float64

In [8]:
len(csv_df["name"].unique())

241

In [9]:
csv_df[csv_df["name"].isna()==False].shape

(343, 75)

In [10]:
csv_df[csv_df["diameter"].isna()==False].shape

(1268, 75)

In [40]:

csv_df[csv_df['pdes']=='2020 FK'].values

array([['bK20F00K', 54016202, '       (2020 FK)', '2020 FK', nan, nan,
        'Y', 'N', 28.325, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, 0.36052, nan, 'JPL 1',
        2459000.5, 59000.0, 20200531.0, 'J2000', 0.3828136157396471,
        1.377450728789239, 0.8501438347982181, 4.158847600087888,
        354.2758839875602, 249.0935831951324, 14.33386884161744,
        1.904757622780259, 0.6096631759827036, 2458976.9888722063,
        20200507.4888722, 590.4899855887201, 1.6166734718377, 0.00867459,
        3.3758901903, 3.12855, 4.726, 0.00067252, 0.0011611, 0.00021086,
        0.0055084, 0.00040076, 0.0060058, 0.0076964, 0.0016056,
        0.00077086, 0.017203, 0.74662, 'APO', 'Otto Matic', 1.0,
        '2020-03-16', '2020-03-17', 21, nan, nan, 7.0, 0.48509, nan, nan,
        nan, nan, nan]], dtype=object)

## json data

In [11]:
with open(json_pth[0], "r", encoding="utf-8") as file:
    data = json.load(file)

json_df = pd.DataFrame(data["data"])
json_df.columns = data["fields"]

In [12]:
json_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406785 entries, 0 to 406784
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   des        406785 non-null  object
 1   orbit_id   406785 non-null  object
 2   jd         406785 non-null  object
 3   cd         406785 non-null  object
 4   dist       406785 non-null  object
 5   dist_min   406785 non-null  object
 6   dist_max   406785 non-null  object
 7   v_rel      406785 non-null  object
 8   v_inf      406766 non-null  object
 9   t_sigma_f  406785 non-null  object
 10  h          406277 non-null  object
dtypes: object(11)
memory usage: 34.1+ MB

In [13]:
json_df[(json_df["des"]=='2015 CL')&(json_df["cd"]>"2000-Jan-01")].head(1)

,des,orbit_id,jd,cd,dist,dist_min,dist_max,v_rel,v_inf,t_sigma_f,h
180844,2015 CL,7,2451544.575085225,2000-Jan-01 01:48,0.144929602021186,0.144894711605919,0.144964493657327,12.0338907050642,12.0323628689746,00:19,25.3

In [14]:
json_df[(json_df["des"]=='2002 PB')&(json_df["cd"]>"2000-Jan-01")].head(1)

,des,orbit_id,jd,cd,dist,dist_min,dist_max,v_rel,v_inf,t_sigma_f,h
180845,2002 PB,22,2451544.656861311,2000-Jan-01 03:46,0.499221505520251,0.499198890779505,0.499244120869353,29.3862908945476,29.3861092695424,< 00:01,20.5

In [25]:
# des==pde
json_df[(json_df["des"]=='433')&(json_df["cd"]>"2000-Jan-01")].head(1)

,des,orbit_id,jd,cd,dist,dist_min,dist_max,v_rel,v_inf,t_sigma_f,h
193630,433,658,2453438.421527291,2005-Mar-08 22:07,0.365567230387813,0.365567167184262,0.365567293591385,4.41229243534752,4.41064023720793,< 00:01,10.4

In [32]:
json_df[(json_df["des"]=='1P')].head(1)

,des,orbit_id,jd,cd,dist,dist_min,dist_max,v_rel,v_inf,t_sigma_f,h
16712,1P,J863/77,2418812.0347,1910-May-20 12:49,0.151350148507397,0.151349737057533,0.151350559957257,70.5589506679726,70.5587011636023,< 00:01,None

In [31]:
[x for x in json_df["des"].unique() if '1P' in x]

['1P', '21P', '141P-A', '141P', '41P', '321P', '181P']